.product-detail .preview-image {
  border-radius: .5rem;
  object-fit: cover;
}

.product-detail .thumbnail-image {
  --thumb-size: 3.5rem;
  object-fit: cover;
  border-radius: .25rem;
  cursor: pointer;
  border: '3px solid';
  width: var(--thumb-size);
  height: var(--thumb-size);
}