@import '~antd/dist/antd.css';

:root {
  --height-header: 4rem;
}

/* utils */
.product-row {
  position: relative;
  cursor: pointer;
}

.product-row::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0);
}

.product-row:hover::after {
  background-color: rgba(0,0,0,.1);
}

.ant-layout-header {
  height: var(--height-header);
}

.app-menu .ant-menu-item {
  padding-left: 50px;
}

.ant-layout-content {
  height: calc(100vh - var(--height-header));
}